
<div class= "col-lg-10">
 <div class= "card rounded-0 shadow mt-5 mb-5">
  <div class="card-body">
   <%= image_tag @organization.logo, style: "width: 200px; height:300px;" %>
    <p><%= notice %></p>
     <h2> Show Organizations </h2>
      <p><strong>Name:</strong> <%= @organization.name%></p>
       <br>
      <p><strong>Address:</strong> <%= @organization.address%></p>
       <br>
      <p><strong>Head Quarter:</strong> <%= @organization.head_quarter%></p>
  </div>
 </div>
</div>